<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <h1 align="center">Add Staff</h1>
  <div align="center">
    <table width="391" border="0">
      <tr>
        <td width="176">Staff Name</td>
        <td width="205"><label for="mname"></label>
        <input type="text" name="mname" id="mname" />          <label for="branchname"></label></td>
      </tr>
      <tr>
        <td>Date of Birth</td>
        <td><label for="bplace"></label>
          <label for="mdob"></label>
        <input type="text" name="mdob" id="mdob" /></td>
      </tr>
      <tr>
        <td height="92">Gender</td>
        <td><p>
          <input type="radio" name="radio" id="male" value="male" />
          <label for="male">Male</label> 
          </p>
          <p>
            <input type="radio" name="radio" id="female" value="female" />
            <label for="female">Female</label>
          </p>
          <p>
            <input type="radio" name="radio" id="others" value="others" />
            <label for="others">Others</label>
        </p></td>
      </tr>
      <tr>
        <td>Position</td>
        <td><label for="bname"></label>
          <label for="position"></label>
          <select name="position" id="position">
          </select><label for="bdistrict"></label></td>
      </tr>
      <tr>
        <td>Place</td>
        <td><label for="bstate"></label>
          <label for="place"></label>
        <input type="text" name="place" id="place" /></td>
      </tr>
      <tr>
        <td>Post</td>
        <td><label for="bcountry"></label>
          <label for="post"></label>
        <input type="text" name="post" id="post" /></td>
      </tr>
      <tr>
        <td>Pin</td>
        <td><label for="bpin"></label>
          <label for="pin"></label>
        <input type="text" name="pin" id="pin" /></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><label for="email"></label>
        <input type="text" name="email" id="email" />          <label for="bemail"></label></td>
      </tr>
      <tr>
        <td>Phone No</td>
        <td><label for="phone"></label>
        <input type="text" name="phone" id="phone" /></td>
      </tr>
      <tr>
        <td>Image</td>
        <td><label for="image"></label>
        <input type="file" name="image" id="image" />          <label for="bphone"></label></td>
      </tr>
      <tr>
        <td colspan="2"><div align="center">
          <input type="submit" name="add" id="add" value="ADD" />
        </div></td>
      </tr>
    </table>
  </div>
</form>
</body>
</html>
