<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <h1>View Staff</h1>
    <table width="620" border="1">
      <tr>
        <td colspan="9">Position
          <label for="position"></label>
          <label for="position"></label>
          <select name="position" id="position">
          </select>
<input type="submit" name="position_search" id="position_search" value="Search" /></td>
      </tr>
      <tr>
        <td colspan="9">Staff Name
          <label for="bname search"></label>
        <input type="text" name="bname search" id="bname search" />
        <input type="submit" name="search" id="search" value="Search" /></td>
      </tr>
      <tr>
        <td width="36">Sl.No</td>
        <td width="58">Staff Name</td>
        <td width="58">Gender</td>
        <td width="76">Date of Birth</td>
        <td width="51">Position</td>
        <td width="51">Address</td>
        <td width="89">Branch Name</td>
        <td width="63">Image</td>
        <td width="80">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><p><a href="edit_staff.html">Edit</a></p>
        <p><a href="#">Delete</a></p></td>
      </tr>
    </table>
    <p>&nbsp;</p>
  </div>
</form>
</body>
</html>
