<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <h1>View Request From Production</h1>
    <h3>Not Forwarded to Admin</h3>
    <table width="473" border="1">
      <tr>
        <td colspan="5"> Product Name
          <label for="bname search"></label>
        <input type="text" name="bname search" id="bname search" />
        <input type="submit" name="search" id="search" value="Search" /></td>
      </tr>
      <tr>
        <td width="36">Sl.No</td>
        <td width="73">Production Manager</td>
        <td width="69">Date</td>
        <td width="40">Status</td>
        <td width="60">&nbsp;</td>
      </tr>
      <tr>
        <td height="37">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><p><a href="request_details.html">More</a></p>
        <p><a href="#">Forward to Admin</a></p></td>
      </tr>
    </table>
    <p>&nbsp;</p>
  </div>
</form>
</body>
</html>
