<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <h1 align="center">View Profile
  </h1>
  <div align="center">
    <table width="299" border="0">
      <tr>
        <td colspan="2"><div align="center"><img src="" alt="" name="profile" width="112" height="99" id="profile" /></div></td>
      </tr>
      <tr>
        <td width="143">Name :</td>
        <td width="146">&nbsp;</td>
      </tr>
      <tr>
        <td>Date of Birth :</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Gender :</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Position :</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Branch Name :</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Address :</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Email :</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Phone No :</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td height="52" colspan="2"><div align="center">
          <input type="submit" name="edit" id="edit" value="EDIT" />
        </div></td>
      </tr>
    </table>
  </div>
  <p align="center">&nbsp;</p>
  <p align="center">&nbsp;</p>
</form>
</body>
</html>
