<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{% extends "sales_home.html" %}
{% block body %}
    <div class="container">
    <h1>Sales Entry</h1>
<form id="form1" name="form1" method="post" action="/myapp/sales_sales_entry_post/"> {% csrf_token %}

{% if cust_email == "" %}
      <table width="508" border="0">
        <tr>
          <td colspan="3">Sale id : <label>#</label></td>
        </tr>
          <div class="form-group">
      <label for="cname">Customer Email :</label>
      <input type="email" class="form-control" id="cemail" placeholder="Enter Customer Email" value="{{ cust_email }}" name="cemail" required>
          </div>
          <div class="form-group">
      <label for="phone">Phone No :</label>
      <input type="text" class="form-control" id="phone" placeholder="Enter phone" name="phone" value="{{ cust_phn }}" required>
          </div>
    <div align="center">

    <input type="submit" name="button" class="btn btn-outline-primary" value="Save"/>
    </div>
      {% endif %}


        <div class="form-group">
         <label for="pname">Product Name :</label>
            <select class="form-control" name="pname" id="pname" required>
                {% for i in data %}
              <option value="{{ i.pk }}">{{ i.product_name }}</option>
                      {% endfor %}
            </select>
        </div>
            <div class="form-group">
      <label for="qty">Quantity :</label>
      <input type="text" class="form-control" id="qty" placeholder="Enter Quantity" name="qty">
          </div>
    <div align="center">

    <input type="submit" name="button" class="btn btn-outline-primary" value="Add"/>
    </div>
      <table class="table table-hover">

            <tr>
              <td><div>Sl.No</div></td>
              <td><div>Product</div></td>
              <td><div>Quantity</div></td>
              <td><div>Price</div></td>
              <td><div>Amount</div></td>
              <td>&nbsp;</td>
              </tr>{% for i in data2 %}

            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.product_name }}</td>
                <td>{{ i.quantity }}</td>
                <td>{{ i.price }}</td>
                <td>{{ i.amount }}</td>
              <td><a href="/myapp/sales_del_cart/{{ i.id }}">Remove</a></td>
              </tr>{% endfor %}

          <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>Total Amount = </td>
              <td><label>{{ total }}</label></td>
              <td>&nbsp;</td>
              </tr>

        </tr>
              <tr>
          <td height="58" colspan="6">


                <div class="form-group">
      <label for="discount">Discount :</label>
      <input type="text" class="form-control" id="discount" placeholder="Enter Discount" name="discount">
          </div>

          </td>
        </tr>
        <tr>
          <td height="58" colspan="6">
                <div align="center">

    <input type="submit" name="button" class="btn btn-outline-primary" value="Submit"/>
    </div>
          </td>
        </tr>
      </table>

    <p align="justify">&nbsp;</p>
  </div>
</form>
{% endblock %}
</body>
</html>
