<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <h1>Sales Entry</h1>
    <div align="center">
      <table width="508" border="0">
        <tr>
          <td colspan="3">Sale id : <label>#</label></td>
        </tr>
        <tr>
          <td width="248" height="50">Customer Name 
            <label for="cname"></label>
          <input type="text" name="cname" id="cname" /></td>
          <td width="187">Phone 
            <label for="phone"></label>
          <input type="text" name="phone" id="phone" /></td>
          <td width="51"><input type="submit" name="save" id="save" value="SAVE" /></td>
        </tr>
      </table>
    </div>
    <div align="center">
      <table width="529" border="0">
        <tr>
          <td width="112" height="45">Product          
            <label for="product"></label>
            <select name="product" id="product">
          </select></td>
          <td width="130" rowspan="2"><div align="center">
            <input type="submit" name="add" id="add" value="ADD" />
          </div></td>
          <td colspan="4" rowspan="2"><table width="271" border="1">
            <tr>
              <td width="46"><div align="center">Sl.No</div></td>
              <td width="71"><div align="center">Product</div></td>
              <td width="74"><div align="center">Quantity</div></td>
              <td width="52">&nbsp;</td>
              </tr>
            <tr>
              <td height="69">&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td><a href="#">Remove</a></td>
              </tr>
          </table></td>
        </tr>
        <tr>
          <td height="58">Quantity
            <label for="quantity"></label>
            <select name="quantity2" id="quantity">
            </select></td>
        </tr>
        <tr>
          <td height="58" colspan="6"><div align="right">Total Amount = <label>####</label></div></td>
        </tr>
        <tr>
          <td height="58" colspan="6"><div align="right">
            <input type="submit" name="submit" id="submit" value="Submit" />
          </div></td>
        </tr>
      </table>
    </div>
    <p align="justify">&nbsp;</p>
  </div>
</form>
</body>
</html>
