<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{% extends "sales_home.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/myapp/sales_product_name_search/">{% csrf_token %}
  <div align="center">
    <h1>View Product</h1>
    <table class="table table-hover">
      <tr>
        <td colspan="6"> Product Name
          <label for="productnamesearch"></label>
        <input type="text" class="input-group input-group-sm" name="productnamesearch" id="productnamesearch" />
        <input type="submit" class="btn btn-default" name="search" id="search" value="Search" /></td>
      </tr>
      <tr>
        <td width="36">Sl.No</td>
        <td width="73">Product Name</td>
        <td width="69">Type of Product</td>
        <td width="40">Price</td>
        <td width="91">Description</td>
        <td width="58">Image</td>
      </tr>{% for i in data %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.product_name }}</td>
        <td>{{ i.product_type }}</td>
        <td>{{ i.price }}</td>
        <td>{{ i.description }}</td>
        <td><img src="{{ i.image }}" height="60px" width="60px"/></td>
      </tr>{% endfor %}
    </table>
    <p>&nbsp;</p>
  </div>
</form>
{% endblock %}
</body>
</html>
