<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{% extends "production_home.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/myapp/production_request_material_post/"> {% csrf_token %}

    <h1>Raw Material Request</h1>


      <div class="form-group">

          <label for="raw_material">Raw Material :</label>
          <select name="raw_material" class="form-select" aria-label="Default select example" id="raw_material">
              {% for i in data %}
              <option value="{{ i.pk }}">{{ i.raw_material_name }}</option>
              {% endfor %}
          </select>
      </div>
      <div class="form-group">

          <label for="Quantity">Quantity :</label>
            <input type="text" class="form-control" name="quantity" placeholder="Quantity" id="quantity"/>
      </div>
        <p>&nbsp;</p>
    <div align="center"><input type="submit" name="button" class="btn btn-primary" value="Add"/>
    </div>
    <p>&nbsp;</p>

    <table class="table table-hover">
        <tr><td><b>Sl.No</b></td>
          <td><b>Material Name</b></td>
          <td><b>Quantity</b></td>
          <td><b>Action</b></td>
        </tr>
          {% for i in sub %}
        <tr>
          <td height="43">{{ forloop.counter }}</td>
          <td>{{ i.RAW_MATERIAL.raw_material_name }}</td>
          <td>{{ i.quantity }}</td>
          <td><a href="/myapp/production_del_cart/{{ i.id }}" class="btn btn-danger">Remove</a></td>
        </tr>{% endfor %}
        <tr>
          <td height="43" colspan="4">    <div align="center">

    <input type="submit" name="button" class="btn btn-outline-primary" value="Submit"/>
    </div></td>
        </tr>
    </table>
    </div>
    <p align="center">&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</form>
{% endblock %}
</body>
</html>
