<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{% extends "production_home.html" %}
{% block body %}

    <h1>Update Material Usage</h1>
    <div class="container">
<form id="form1" name="form1" method="post" action="/myapp/production_update_material_usage_post/" onsubmit="return"> {% csrf_token %}

    <p><h3>Materaial Name : <u>{{ data.raw_material_name }}</u></h3></p>

        <div class="form-group">
            <label for="place">Quantity Used :</label>
            <input type="text" class="form-control" id="qty" placeholder="Enter Quantity Used" name="qty" required/>
        </div>
        <p>&nbsp;</p>
        <div align="center">
            <input type="submit" class="btn btn-outline-primary" id="add" name="add" value="Add"/>
        </div>



</form>
      </div>
{% endblock %}
</body>
</html>
