<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{% extends "production_home.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/myapp/production_product_name_search/">  {% csrf_token %}
  <div align="center">
    <h1>View Production</h1>
    <table class="table table-hover">
      <!--<tr>
        <td colspan="4"> Date
          <label for="productsearch"></label>
        <input type="text" class="input-group input-group-sm" name="productsearch" id="productsearch" />
        <input type="submit" class="btn btn-default" name="search" id="search" value="Search" /></td>
      </tr>-->
      <tr>
          <td width="36"><b>Sl.No</b></td>
          <td width="73"><b>Product Name</b></td>
          <td width="69"><b>Date</b></td>
          <td width="40"><b>Quantity</b></td>
      </tr>{% for i in data %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.PRODUCT.product_name }}</td>
        <td>{{ i.date }}</td>
        <td>{{ i.stock }}</td>
      </tr>{% endfor %}
    </table>
    <p>&nbsp;</p>
  </div>
</form>{% endblock %}
</body>
</html>
