<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <h1>View Raw Materials</h1>
    <table width="473" border="1">
      <tr>
        <td colspan="4"> Material Name
          <label for="bname search"></label>
        <input type="text" name="bname search" id="bname search" />
        <input type="submit" name="search" id="search" value="Search" /></td>
      </tr>
      <tr>
        <td width="68">Sl.No</td>
        <td width="160">Raw Material Name</td>
        <td width="102">Available</td>
        <td width="115">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><p><a href="request_material_production.html">Request</a></p>
        <p><a href="update_material_usage.html">Update Usage</a></p></td>
      </tr>
    </table>
    <p>&nbsp;</p>
  </div>
</form>
</body>
</html>
