<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{% extends "production_home.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <h1>View Raw Materials</h1>
    <table class="table table-hover">
      <tr>
        <td colspan="4">
            <input type="text" class="input-group input-group-sm" name="bname search" id="bname search" placeholder="Branch Name" /></td>
        <td><input type="submit" class="btn btn-default" name="search" id="search" value="Search" /></td>
      </tr>
      <tr>
          <td><b>Sl.No</b></td>
          <td><b>Raw Material Name</b></td>
          <td><b>GSM</b></td>
          <td><b>Available</b></td>
          <td><b>Action</b></td>
      </tr>
        {% for i in data %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.raw_material_name }}</td>
          <td>{{ i.gsm }}</td>
          <td>{{ i.stock }}</td>


          <td><a href="/myapp/production_update_material_usage/{{ i.id }}" class="btn btn-outline-success">Update Usage</a><td>

      </tr>
        {% endfor %}

    </table>
    <p>&nbsp;</p>
  </div>
</form>
{% endblock %}
</body>
</html>
