<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <h1>View Material Usage</h1>
    <table width="473" border="1">
      <tr>
        <td colspan="5"> <p>Sart Date
            <label for="start_date"></label>
        <input type="text" name="start_date" id="start_date" />
        </p>
          <p>End Date
            <label for="end_date"></label>
            <input type="text" name="end_date" id="end_date" />
            <input type="submit" name="search" id="search" value="Search" />
        </p></td>
      </tr>
      <tr>
        <td width="36">Sl.No</td>
        <td width="73">Date</td>
        <td width="69">Material Name</td>
        <td width="40">GSM</td>
        <td width="91">Quantity</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <p>&nbsp;</p>
  </div>
</form>
</body>
</html>
