<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{% extends "index.html" %}
{% block body %}
      <h1 align="center">Add Manager</h1>
    <div class="container">
<form action="/myapp/adm_add_manager_post/" method="post" enctype="multipart/form-data" name="form1" id="form1" onsubmit="return validate()"> {% csrf_token %}

    <div class="form-group">
      <label for="mname">Manager Name :</label>
      <input type="text" class="form-control" id="mname" placeholder="Enter manager name" name="mname" required>
    </div>
    <div class="form-group">
      <label for="mdob">Date of Birth :</label>
      <input type="date" class="form-control" id="mdob" placeholder="Enter Date of Birth" name="mdob" required>
    </div>
        <div class="form-group">
      <label for="gender">Gender :</label>
            <p>
          <input type="radio" name="radio" id="male" value="male"/>
          <label for="male">Male</label>
          </p>
          <p>
            <input type="radio" name="radio" id="female" value="female" />
            <label for="female">Female</label>
          </p>
          <p>
            <input type="radio" name="radio" id="others" value="others" />
            <label for="others">Others</label>
        </p>
    </div>
        <div class="form-group">
         <label for="bname">Branch Name :</label>
            <select class="form-control" name="bname" id="bname" required>
                {% for i in data %}
              <option value="{{ i.pk }}">{{ i.branch_name }}</option>
                      {% endfor %}
            </select>
        </div>


    <div class="form-group">
      <label for="place">Place :</label>
      <input type="text" class="form-control" id="place" placeholder="Enter Place" name="place" required>
    </div>

     <div class="form-group">
      <label for="district">District :</label>
      <input type="text" class="form-control" id="district" placeholder="Enter District" name="district" required>
     </div>
     <div class="form-group">
      <label for="state">State :</label>
      <input type="text" class="form-control" id="state" placeholder="Enter State" name="state" required>
     </div>

      <div class="form-group">
      <label for="pin">Pin Code :</label>
      <input type="text" class="form-control" id="pin" placeholder="Enter Pin Code" name="pin" required>
      </div>

      <div class="form-group">
      <label for="email">Email Id :</label>
      <input type="email" class="form-control" id="email" placeholder="Enter Email Id" name="email" required>
      </div>
      <div class="form-group">
      <label for="phone">Phone No :</label>
      <input type="text" class="form-control" id="phone" placeholder="Enter Phone No" name="phone" required>
      </div>
      <div class="form-group">
      <label for="image">Image :</label>
      <input type="file" class="form-control" id="image" name="image" required>
      </div>

    <div align="center">

    <button type="submit" class="btn btn-outline-primary">Submit</button>
    </div>
  </form>
</div>


     <script>
    function validate(){
        var letters = /^[A-Za-z ]+$/;
        var cate=document.getElementById('mname');
        if(!cate.value.match(letters))
      {
      alert('Manager name should be alphabet only');
      return false;
      }
        var letters = /^[A-Za-z]+$/;
        var catm=document.getElementById('place');
        if(!catm.value.match(letters))
      {
      alert('Place should be alphabet only');
      return false;
      }
        var letters = /^[A-Za-z ]+$/;
        var catv=document.getElementById('district');
        if(!catv.value.match(letters))
      {
      alert('District should be alphabet only');
      return false;
      }
        var letters = /^[A-Za-z]+$/;
        var catd=document.getElementById('state');
        if(!catd.value.match(letters))
      {
      alert('State should be alphabet only');
      return false;
      }

        var numbers = /^\d{6}$/;
        var catp=document.getElementById('pin');
        if(!catp.value.match(numbers))
        {
            alert('Pin should be numbers only');
            return false;
        }

       var numbers = /^\d{10}$/;
        var cati=document.getElementById('phone');
        if(!cati.value.match(numbers))
        {
            alert('Phone No. should be numbers only');

        return false;
        }
        return true;
        }

    </script>
{% endblock %}

</body>
</html>
