<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{% extends "index.html" %}
{% block body %}
    <h1 align="center">Add Product</h1>
<div class="container">
<form action="/myapp/adm_add_product_post/" method="post" enctype="multipart/form-data" name="form1" id="form1" onsubmit="return validate()">{% csrf_token %}

<div class="form-group">
      <label for="productname">Product Name :</label>
      <input type="text" class="form-control" id="productname" placeholder="Enter product name" name="productname" required>
    </div>
        <div class="form-group">
      <label for="type">Type of Product :</label>
            <select class="form-control" name="type" id="type" required>
              <option>Shirt</option>
              <option>Trousers</option>
              <option>Kurta</option>
            </select>
    </div>


    <div class="form-group">
      <label for="price">Price :</label>
      <input type="text" class="form-control" id="price" placeholder="Enter Description" name="price" required>
    </div>
    <div class="form-group">
      <label for="img">Image :</label>
      <input type="file" class="form-control" id="image" name="image" required>
    </div>
        <div class="form-group">
      <label for="dsc">Description :</label>
            <textarea class="form-control" id="description" placeholder="Enter Description" name="description" required></textarea>
    </div>
    <div align="center">

    <button type="submit" class="btn btn-outline-primary">Submit</button>
    </div>
  </form>
</div>

{% endblock %}
</body>
</html>
