<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <h1 align="center">Allocate Raw Materials</h1>
  <div align="center">
    <table width="266" border="0">
      <tr>
        <td width="109">Material Name</td>
        <td width="147"><label for="branchname"></label>
          <label for="material_name"></label>
        <input type="text" name="material_name" id="material_name" /></td>
      </tr>
      <tr>
        <td>Quantity</td>
        <td><label for="bdistrict"></label>
          <label for="price"></label>
          <label for="allocated_qty"></label>
          <input type="text" name="allocated_qty" id="allocated_qty" /></td>
      </tr>
      <tr>
        <td colspan="2"><div align="center">
          <input type="submit" name="add" id="add" value="ADD" />
        </div></td>
      </tr>
    </table>
  </div>
</form>
</body>
</html>
