<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{% extends "index.html" %}
{% block body %}
    <h1 align="center">Allocate Raw Materials</h1>
    <div class="container">
<form action="/myapp/adm_allocate_raw_material_post/" method="post" enctype="multipart/form-data" name="form1" id="form1" onsubmit="return"> {% csrf_token %}


        <p><h3>Materaial Name : <u>{{ data.RAW_MATERIAL.raw_material_name }}</u></h3></p>


        <div class="form-group">
            <label for="place">Quantity :</label>
            <input type="text" class="form-control" id="allocated_qty" placeholder="Enter Quantity" name="allocated_qty" value="{{ data.quantity }}" required/>
        </div>
        <div class="form-group">
            <label for="place">Narration :</label>
            <textarea class="form-control" id="narration" placeholder="Narration" name="narration" required></textarea>
        </div>
        <p>&nbsp;</p>
        <div align="center">
            <input type="submit" class="btn btn-outline-primary" id="add" name="add" value="Add"/>
        </div>


</form>
    </div>
{% endblock %}
</body>
</html>
