<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{% extends "index.html" %}
{% block body %}
      <h1 align="center">Edit Branch</h1>
<div class="container">
<form id="form1" name="form1" method="post" action="/myapp/adm_update_branch/" onsubmit="return validate()"> {% csrf_token %}



    <div class="form-group">
      <label for="productname">Branch Name :</label>
      <input type="text" class="form-control" id="branchname" placeholder="Enter branch name" name="branchname" value="{{ data.branch_name }}" required>
    </div>


    <div class="form-group">
      <label for="place">Place :</label>
      <input type="text" class="form-control" id="bplace" placeholder="Enter Place" name="bplace" value="{{ data.place }}" required>
    </div>

     <div class="form-group">
      <label for="bdistrict">District :</label>
      <input type="text" class="form-control" id="bdistrict" placeholder="Enter District" name="bdistrict" value="{{ data.district }}" required>
     </div>
     <div class="form-group">
      <label for="bstate">State :</label>
      <input type="text" class="form-control" id="bstate" placeholder="Enter State" name="bstate" value="{{ data.state }}" required>
     </div>
     <div class="form-group">
      <label for="bcountry">Country :</label>
      <input type="text" class="form-control" id="bcountry" placeholder="Enter Country" name="bcountry" value="{{ data.country }}" required>
      </div>
      <div class="form-group">
      <label for="bpin">Pin Code :</label>
      <input type="text" class="form-control" id="bpin" placeholder="Enter Pin Code" name="bpin" value="{{ data.pin }}" required>
      </div>

      <div class="form-group">
      <label for="bemail">Email Id :</label>
      <input type="email" class="form-control" id="bemail" placeholder="Enter Email Id" name="bemail" value="{{ data.email }}" required>
      </div>
      <div class="form-group">
      <label for="bphone">Phone No :</label>
      <input type="text" class="form-control" id="bphone" placeholder="Enter Phone No" name="bphone" value="{{ data.phone }}" required>
      </div>

    <div align="center">

    <button type="submit" class="btn btn-outline-primary">Update</button>
    </div>
  </form>
</div>


     <script>
    function validate(){
        var letters = /^[A-Za-z ]+$/;
        var cate=document.getElementById('branchname');
        if(!cate.value.match(letters))
      {
      alert('Branch name should be alphabet only');
      return false;
      }
        var letters = /^[A-Za-z]+$/;
        var catm=document.getElementById('bplace');
        if(!catm.value.match(letters))
      {
      alert('Place should be alphabet only');
      return false;
      }
        var letters = /^[A-Za-z ]+$/;
        var catv=document.getElementById('bdistrict');
        if(!catv.value.match(letters))
      {
      alert('District should be alphabet only');
      return false;
      }
        var letters = /^[A-Za-z]+$/;
        var catd=document.getElementById('bstate');
        if(!catd.value.match(letters))
      {
      alert('State should be alphabet only');
      return false;
      }
        var letters = /^[A-Za-z ]+$/;
        var cat=document.getElementById('bcountry');
        if(!cat.value.match(letters))
        {
        alert('Country should be alphabet only');

        return false;
        }
        var numbers = /^[0-6]+$/;
        var catp=document.getElementById('bpin');
        if(!catp.value.match(numbers))
        {
            alert('Pin should be numbers only');
            return false;
        }

       var numbers = /^[0-9]+$/;
        var cati=document.getElementById('bphone');
        if(!cati.value.match(numbers))
        {
            alert('Phone No. should be numbers only');

        return false;
        }
        return true;
        }

    </script>
{% endblock %}
</body>
</html>
