<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{% extends "index.html" %}
{% block body %}
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <h1 align="center">Edit Manager</h1>
  <div align="center">
    <table width="391" border="0">
      <tr>{% for i in data %}
        <td width="176">Manager Name</td>
        <td width="205"><label for="mname"></label>
        <input type="text" name="mname" id="mname" value="{{ i.manager_name }}"/>
      </tr>
      <tr>
        <td>Date of Birth</td>
        <td><label for="bplace"></label>
          <label for="mdob"></label>
        <input type="text" name="mdob" id="mdob" value="{{ i.dob }}"/></td>
      </tr>
      <tr>
        <td height="92">Gender</td>
        <td><p>
          <input type="radio" name="radio" id="male" value="{{ i.gender }}" />
          <label for="male">Male</label> 
          </p>
          <p>
            <input type="radio" name="radio" id="female" value="{{ i.gender }}" />
            <label for="female">Female</label>
          </p>
          <p>
            <input type="radio" name="radio" id="others" value="{{ i.gender }}" />
            <label for="others">Others</label>
        </p></td>
      </tr>
      <tr>
        <td>Branch Name</td>
        <td><label for="bname"></label>
            <select name="bname" id="bname">
                <option>value="{{ i.BRANCH.branch_name }}"</option>
                {% for i in data %}
              <option value="{{ i.pk }}">{{ i.BRANCH.branch_name }}</option>
                      {% endfor %}
            </select>
      </tr>
      <tr>
        <td>Place</td>
        <td><label for="bstate"></label>
          <label for="place"></label>
        <input type="text" name="place" id="place" value="{{ i.place }}"/></td>
      </tr>
      <tr>
        <td>Post</td>
        <td><label for="bcountry"></label>
          <label for="post"></label>
        <input type="text" name="post" id="post" value="{{ i.country }}"/></td>
      </tr>
      <tr>
        <td>Pin</td>
        <td><label for="bpin"></label>
          <label for="pin"></label>
        <input type="text" name="pin" id="pin" value="{{ i.pin }}"/></td>
      </tr>
      <tr>
        <td>Phone No</td>
        <td><label for="phone"></label>
        <input type="text" name="phone" id="phone" value="{{ i.phone }}"/></td>
      </tr>
      <tr>
        <td>Image</td>
        <td><label for="image"></label>
        <input type="file" name="image" id="image" value="{{ i.profile_img }}"/></td>
      </tr>
      <tr>
        <td colspan="2"><div align="center">
          <input type="submit" name="add" id="add" value="UPDATE" />
        </div></td>
      </tr>{% endfor %}
    </table>
  </div>
</form>
{% endblock %}
</body>
</html>
