<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{% extends "index.html" %}
{% block body %}
    <h1 align="center">Edit Manager</h1>
    <div class="container">
<form action="/myapp/adm_update_manager/" method="post" enctype="multipart/form-data" name="form1" id="form1"> {% csrf_token %}


    <div class="form-group">
      <label for="mname">Manager Name :</label>
      <input type="text" class="form-control" id="mname" placeholder="Enter manager name" name="mname" value="{{ data.manager_name }}" required>
    </div>
    <div class="form-group">
      <label for="mdob">Date of Birth :</label>
      <input type="date" class="form-control" id="date" placeholder="Enter Date of Birth" name="date" value="{{ data.dob }}" required>
    </div>
        <div class="form-group">
      <label for="gender">Gender :</label>
          {% if data.gender == 'male' %}
        <p>
          <input type="radio" name="radio" id="male" value="male" checked/>
          <label for="male">Male</label>
          </p>
          <p>
            <input type="radio" name="radio" id="female" value="female"/>
            <label for="female">Female</label>
          </p>
          <p>
            <input type="radio" name="radio" id="others" value="others"/>
            <label for="others">Others</label>
        </p>
              {% elif data.gender == "female" %}
               <p>
          <input type="radio" name="radio" id="male" value="male" />
          <label for="male">Male</label>
          </p>
          <p>
            <input type="radio" name="radio" id="female" value="female" checked/>
            <label for="female">Female</label>
          </p>
          <p>
            <input type="radio" name="radio" id="others" value="others"/>
            <label for="others">Others</label>
        </p>
              {% else %}
                 <p>
          <input type="radio" name="radio" id="male" value="male" />
          <label for="male">Male</label>
          </p>
          <p>
            <input type="radio" name="radio" id="female" value="female" />
            <label for="female">Female</label>
          </p>
          <p>
            <input type="radio" name="radio" id="others" value="others" checked/>
            <label for="others">Others</label>
        </p>
          {% endif %}
      </div>
      <tr>
        <div class="form-group">
        <label for="bname">Branch Name :</label>
        <select class="form-control" name="bname" id="bname" value="{{ data.branch_name }}" required>
              {% for i in data2 %}
              <option value="{{ i.pk }}">{{ i.branch_name }}</option>
                      {% endfor %}
            </select>
        </div>
         <div class="form-group">
      <label for="place">Place :</label>
      <input type="text" class="form-control" id="place" placeholder="Enter Place" name="place" value="{{ data.place }}" required>
    </div>

     <div class="form-group">
      <label for="district">District :</label>
      <input type="text" class="form-control" id="district" placeholder="Enter District" name="district" value="{{ data.district }}" required>
     </div>
     <div class="form-group">
      <label for="state">State :</label>
      <input type="text" class="form-control" id="state" placeholder="Enter State" name="state" value="{{ data.state }}" required>
     </div>

      <div class="form-group">
      <label for="pin">Pin Code :</label>
      <input type="text" class="form-control" id="pin" placeholder="Enter Pin Code" name="pin" value="{{ data.pin }}" required>
      </div>
      <div class="form-group">
      <label for="phone">Phone No :</label>
      <input type="text" class="form-control" id="phone" placeholder="Enter Phone No" name="phone" value="{{ data.phone }}" required>
      </div>
      <div class="form-group">
      <label for="image">Image :</label>
      <input type="file" class="form-control" id="image" name="image" required>
      </div>
          <div> </div>
    <div align="center">

    <button type="submit" class="btn btn-outline-primary">Update</button>
    </div>
  </form>
</div>
{% endblock %}
</body>
</html>