<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
    <p><a href="/myapp/adm_add_branch/">Add Branch</a> </p>
    <p><a href="/myapp/adm_view_branch/">View Branch</a> </p>
    <p><a href="/myapp/adm_add_manager/">Add Manager</a> </p>
    <p><a href="/myapp/adm_view_manager/">View Manager</a> </p>
    <p><a href="/myapp/adm_add_product/">Add Product</a> </p>
    <p><a href="/myapp/adm_view_product/">View Product</a> </p>
    <p><a href="/myapp/adm_add_raw_material/">Add Raw Materials</a> </p>
    <p><a href="/myapp/adm_view_raw_material/">View Raw Materials</a> </p>
    <p><a href="/myapp/adm_view_request/">View Raw Material Request</a> </p>
    <p><a href="/myapp/adm_view_allocate_report/">VIew Allocation Report</a> </p>
    <p><a href="/myapp/adm_view_sales_report_admin/">View Sales Report</a> </p>
    <p><a href="/myapp/adm_send_notification/">Send Notification</a> </p>
    <p><a href="/myapp/adm_view_notification/">View Notification</a> </p>



</form>
</body>
</html>
