<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{% extends "index.html" %}
{% block body %}

    <h1>Send Notification</h1>
    <div class="container">
<form id="form1" name="form1" method="post" action="/myapp/adm_send_notification_post/" onsubmit="return validate()">{% csrf_token %}
  
        <div class="form-group">
         <label for="branch_name">Branch Name :</label>
            <select class="form-control" name="branch_name" id="branch_name" required>
                {% for i in data %}
              <option value="{{ i.pk }}">{{ i.branch_name }}</option>
                      {% endfor %}
            </select>
        </div>
    <div class="form-group">
      <label for="title">Tittle :</label>
      <input type="text" class="form-control" id="title" placeholder="Enter Tittle" name="title" required>
    </div>
        <div class="form-group">
      <label for="dsc">Message :</label>
            <textarea class="form-control" id="message" placeholder="Enter Message" name="message" cols="45" rows="5" required></textarea>
    </div>

    <div align="center">

        <button type="submit" class="btn btn-outline-primary">Send</button>
    </div>
  </form>
</div>
         <script>
    function validate(){
        var letters = /^[a-zA-Z-,]+(\s{0,1}[a-zA-Z-, ])*$/;
        var cate=document.getElementById('title');
        if(!cate.value.match(letters))
      {
      alert('title should be alphabet only');
      return false;
      }


        return true;
        }

    </script>
{% endblock %}
</body>
</html>
