<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{% extends "index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/myapp/adm_send_notification_post/">{% csrf_token %}
  
  <div align="center">
    <h1>Send Notification</h1>
    <table width="200" border="1">
    <tr>
      <td>Branch Name</td>
      <td><label for="branch_name"></label>
        <select name="branch_name" id="branch_name">
                {% for i in data %}
              <option value="{{ i.pk }}">{{ i.branch_name }}</option>
                      {% endfor %}
        </select></td>
    </tr>
    <tr>
      <td>Tittle</td>
      <td><label for="title"></label>
        <input type="text" name="title" id="title" /></td>
    </tr>
    <tr>
      <td>Message</td>
      <td><label for="message"></label>
        <textarea name="message" id="message" cols="45" rows="5"></textarea></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="send" id="send" value="SEND" />
        <input type="submit" name="view" id="view" value="VIEW" />
      </div></td>
      </tr>
  </table></div>
</form>
{% endblock %}
</body>
</html>
