<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{% extends "index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/myapp/adm_raw_material_name_search/"> {% csrf_token %}
  <div align="center">
    <h1>View Raw Materials</h1>
    <table class="table table-hover">
      <tr>
        <td colspan="5"> Material Name
          <label for="rawmaterialname"></label>
        <input type="text" class="input-group input-group-sm" name="rawmaterialname" id="rawmaterialname" />
        <input type="submit" class="btn btn-default" name="search" id="search" value="Search" /></td>
      </tr>
      <tr>
        <td width="36">Sl.No</td>
        <td width="73">Raw Material Name</td>
        <td width="69">GSM</td>
        <td width="40">Price</td>
        <td width="60">&nbsp;</td>
      </tr>{% for i in data %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.raw_material_name }}</td>
        <td>{{ i.gsm }}</td>
        <td>{{ i.price }}</td>
        <td><p><a href="/myapp/adm_edit_raw_material/{{ i.pk }}">Edit</a></p>
        <p><a href="#">Delete</a></p></td>
      </tr>{% endfor %}
    </table>
    <p>&nbsp;</p>
  </div>
</form>
{% endblock %}
</body>
</html>
