<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{% extends "lognindex.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <h1>View Allocate Report</h1>
    <table width="473" border="1">
      <tr>
        <td colspan="5"><p>
          <label for="bname search"></label>
          Branch Name
<input type="text" name="bname search" id="bname search" />
          <input type="submit" name="search" id="search" value="Search" />
          </p>
          <p>Date 
            <label for="bname search2"></label>
            <input type="text" name="bname search2" id="bname search2" />
            <input type="submit" name="search2" id="search2" value="Search" />
        </p></td>
      </tr>
      <tr>
        <td width="36">Sl.No</td>
        <td width="73">BranchName</td>
        <td width="69">Date</td>
        <td width="40">Status</td>
        <td width="60">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><p><a href="/myapp/adm_view_material_allocated/">More</a></p></td>
      </tr>
    </table>
    <p>&nbsp;</p>
  </div>
</form>
{% endblock %}
</body>
</html>
