<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{% extends "index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <h1>Product Details (Sale)</h1>
    <table width="237" border="0">
      <tr>
        <td width="92">Sale No : <label>#</label></td>
        <td width="129"><label>Customer_Name</label>&nbsp;</td>
      </tr>
      <tr>
        <td>Date : <label>#</label></td>
        <td><label>Phone No</label>&nbsp;</td>
      </tr>
    </table>
    <table width="238" border="1">
      <tr>
        <td width="13">#</td>
        <td width="60">Product Name</td>
        <td width="31">Price</td>
        <td width="51">Quantity</td>
        <td width="49">Total</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="5"><div align="right">Total Amount : <label>####</label></div></td>
      </tr>
    </table>
    <p>&nbsp;</p>
  </div>
</form>
{% endblock %}
</body>
</html>
