<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{% extends "index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <h1>Product Details (Sale)</h1>

    <table class="table table-hover">
      <tr>
          <td><b>Sl.No</b></td></td>
        <td><b>Product Name</b></td>
        <td><b>Total Quantity</b></td>
        <td><b>Amount</b></td>


      </tr>{% for i in data %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.product_name }}</td>
        <td>{{ i.quantity }}</td>
        <td>{{ i.amount }}</td>


      </tr>{% endfor %}


    </table>
    <p>&nbsp;</p>
  </div>
</form>
{% endblock %}
</body>
</html>
